@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.colorpicker-container {
    height: 100vh;
    background-color: white;
}

.btns {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

.bgcolor {
    color: white;
    background-color: skyblue;
    font-family: "Roboto";
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
}

.selected-color {
    color: black;
}